# To join a GPG private key into one line, use:
# awk -v ORS='\\n' '1' <KEYFILE> | pbcopy
ENGINEERING_GPG_PRIVATE_KEY=""

# Any PAT with 'repo' scope
ENGINEERING_GITHUB_PERSONAL_ACCESS_TOKEN=""

# Used for 'git push'
ENGINEERING_GIT_CONFIG_USER_EMAIL=""
ENGINEERING_GIT_CONFIG_USER_NAME=""

# Used for uploading images
GCP_TEST_CONTAINER_REGISTRY_PROJECT_NAME=""
GCP_TEST_CONTAINER_REGISTRY_PROJECT_CREDENTIALS=""
GCP_PROD_CONTAINER_REGISTRY_PROJECT_NAME=""
GCP_PROD_CONTAINER_REGISTRY_PROJECT_CREDENTIALS=""
